<!DOCTYPE html>
<html>
<head>
    <title>Google OpenID Connect</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<button id="redirectButton">Login with Google</button>

<script>
document.getElementById("redirectButton").addEventListener("click", function() {
    window.location.href = "/api/google-oauth2/redirect/";
});
</script>

</body>
</html>
